<h2>Quotations</h2>
<a href="{% url 'create_quotation' %}">+ New Quotation</a>
<table border="1">
    <tr>
        <th>No</th>
        <th>Customer</th>
        <th>Salesman</th>
        <th>Date</th>
        <th>Total</th>
    </tr>
    {% for q in quotations %}
    <tr>
        <td>{{ q.quotation_number }}</td>
        <td>{{ q.customer.name }}</td>
        <td>{{ q.salesman.name }}</td>
        <td>{{ q.quotation_date }}</td>
        <td>{{ q.grand_total }}</td>
    </tr>
    {% endfor %}
</table>
